

#main.accordion
  - @sections.each do |s|
    .accordion-group{id: s[:id].downcase, data:{js: s[:files].join(','), json: s[:json]}}
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#main", "data-toggle" => "collapse", :href => "##{s[:id].downcase}_body"}
          = s[:id]
      .accordion-body.collapse{id:"#{s[:id].downcase}_body"}
        .accordion-inner
          .row
            .span4
              %table
            .span8
              .details
