
- @sections = [{id: 'races',files: ['06-races'],title: 'Race'},{id: 'items',files: ['03-base-items','04-new-items'],title:'Items'}]

#main.accordion
  - @sections.each do |s|
    .accordion-group{id: s[:id], data:{js: s[:files].join(',')}}
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#main", "data-toggle" => "collapse", :href => "##{s[:id]}_body"}
          = s[:title]
      .accordion-body.collapse{id:"#{s[:id]}_body"}
        .accordion-inner
          .row
            .span4
              %table
            .span8
              .details
